<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="/dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="/dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="/dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/dashboard/images/profile/3.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <form method="post" action="/auth/logout" style="display: flex; justify-content: center; align-items: center;">
                                        <button type="submit" class="btn btn-danger"><i class="icon-key"></i> <span>Logout</span></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/admin/dashboard" aria-expanded="false">
                            <i class="icon-home menu-icon" style="font-size:13px;margin-right:5px"></i><span class="nav-text">Home</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="/admin/dashboard/products" aria-expanded="false">
                            <i class="icon-flag menu-icon" style="font-size:13px;margin-right:5px"></i><span class="nav-text">Add Product</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Products Total</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= totalProducts %></h2>
                                    <p class="text-white mb-0"><%= new Date().toLocaleDateString() %></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Most Expensive Product</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= mostExpensiveProduct.price %> $</h2>
                                    <p class="text-white mb-0"><%= new Date().toLocaleDateString(

                                    ) %></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Product Name</th>
                                                    <th>Product description</th>
                                                    <th>product price</th>
                                                    <th>Image</th>
                                                    <th>Created At</th>
                                                    <th>Updated At</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                                products.forEach(product => {
                                            %>
                                                <tr>
                                                    <td><%= product.name %></td>
                                                    <td><%= product.description %></td>
                                                    <td>
                                                        <span><%= product.price %> $</span>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <img src="/uploads/images/<%= product.image %>" alt="">
                                                        </div>
                                                    </td>
                                                    <td><%= new Date(product.createdAt).toLocaleString() %></td>
                                                    <td>
                                                        <span><%= new Date(product.updatedAt).toLocaleString() %></span>
                                                    </td>
                                                    <td style="display:flex;gap:10px;">
                                                        <a href="/admin/dashboard/products/<%= product._id %>" class="btn btn-info">Edit</a>
                                                        <form action="/admin/products/delete/<%= product._id %>?_method=DELETE" method="POST">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/dashboard/plugins/common/common.min.js"></script>
    <script src="/dashboard/js/custom.min.js"></script>
    <script src="/dashboard/js/settings.js"></script>
    <script src="/dashboard/js/gleek.js"></script>
    <script src="/dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="/dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="/dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="/dashboard/plugins/d3v3/index.js"></script>
    <script src="/dashboard/plugins/topojson/topojson.min.js"></script>
    <script src="/dashboard/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="/dashboard/plugins/moment/moment.min.js"></script>
    <script src="/dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="/dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="/dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>


    <script src="/dashboard/js/dashboard/dashboard-1.js"></script>

</body>

</html>
